<ion-header>
  <ion-toolbar>
    <ion-icon (click)="back()" name="arrow-back-outline"></ion-icon>
    <ion-title>delfarm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of data ; index as i" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding: 0px 15px 5px 15px;margin-bottom: 20px;">
    
    <ion-item>
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label> {{item.farm_name}}</ion-label>
      <ion-grid (click)="gostatistics(item.farm_id)" style="display: flex; justify-content: center; align-items:  center;">
        <ion-icon  style="zoom:1.5; padding-right: 5px;" name="finger-print-outline"></ion-icon>
        <ion-label>
          {{item.farm_id}}
        </ion-label>
      </ion-grid>
    </ion-item>
    <ion-grid>
      <ion-button style="box-shadow: none; border: none;" color="warning"  expand="block" (click)="delfarm(item.farm_id,item.farm_name)">Delete</ion-button>
    </ion-grid>


  </ion-card>
</ion-content>
