<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Farm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="align-items: center; justify-content: center; display: flex; margin-top: 100px;">
    <ion-button (click)="addfarm()" color="warning">Add farm</ion-button>
  </div>
  <div style="align-items: center; justify-content: center; display: flex; margin-top: 100px;">
    <ion-button (click)="delfarm()" color="warning">Delete farm</ion-button>
  </div>
</ion-content>
